.manager {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .project-view {
        min-height: 0;
        flex: 1 1 auto;
        overflow: auto;
    }

    .logger-view {
        margin-top: auto;
        min-height: 0;
        flex: 0 0 200px;
    }
}
