.bottom {
    padding: 10px;
    overflow: auto;

    .pretxt {
        white-space: pre-wrap;

        // 日志
        &.pretxt-0 {
            color: #656161;
        }

        // 警告
        &.pretxt-1 {
            color: #ffb301;
        }

        // 错误
        &.pretxt-2 {
            color: #f12929;
        }
    }
}
